<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
    <title>Registration Successful</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <section>
        <div class="header-div">
            <img class="header-div-img" src="https://i.postimg.cc/L52nRB8s/airplane-photo.jpg"
                alt="cartoon image of airplane">
            <div>
                <h1 class="header-div-text header-font-size">AEROPARKER</h1>
                <h4 class="header-div-text header-font-size">Enabling easier and faster airport parking</h4>
            </div>
        </div>
    </section>

    <section>
        <div class="body-div">
            <h3>Congrats! You are seeing this page because you have been succesfully registered!</h3>
        </div>
    </section>
</body>

</html>